h4.page-title {
    color: #171717;
    font-weight: 500;
    font-size: 22px;
    border-bottom: 1px #c4c4c4 solid;
    margin-bottom: 15px;
}

div.form-control {
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 12px;
}

div.form-control input[type="text"], div.form-control input[type="email"], div.form-control input[type="password"], div.form-control select, div.form-control textarea {
    width: 500px;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px #62b9bd solid;
    font-family: "Hind Guntur", sans-serif;
    font-size: 16px;
    color: #575757;
}
div.form-control input.invalid{
    border-color: #b10000 !important;
}
div.form-control textarea{
    height: 90px !important;
}
div.form-control button{
    background: #369599;
    padding: 12px 60px;
    border: 1px #fff solid;
    color: #fff;
    font-size: 16px;
}
table.stripe-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px #fff solid;
}
table.stripe-table thead tr{
    background: #047176;
    color: #fff;
}
table.stripe-table thead tr th{
    padding: 8px;
    text-align: left;
    border-left: 1px #fff solid;
    border-bottom: 1px #fff solid;
}
table.stripe-table tbody tr td{
    padding: 8px;
    border-left: 1px #fff solid;
    border-bottom: 1px #fff solid;
    color: #fff !important;
}
table.stripe-table tbody tr:nth-child(even) td{
    background: #8acfd2;
}
table.stripe-table tbody tr:nth-child(odd) td{
    background: #369599;
}
div.listings-wrap {
    display: flex;
  }
  div.product-listings {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
  }
  div.product-listings .product {
    flex: 0 0 33.3333333333%;
  }
  div.product-listings .product figure {
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 320px;
    border: 1px #999 solid;
    position: relative;
  }
  div.product-listings .product figure h3 {
    color: #047176;
    font-size: 22px;
  }
  div.product-listings .product figure img {
    display: block;
    margin: 0 auto;
  }
  div.product-listings .product figure span.product-price {
    color: rgb(109, 1, 1);
    font-size: 18px;
  }
  div.add-to-cart{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.4);
      cursor: pointer;
      opacity: 0;
      transition: all 0.5s ease-in-out;
  }
  div.add-to-cart i{
      display: block;
      font-size: 50px;
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -25px 0 0 -28px;
      transition: all 0.5s ease-in;
      transform: scale(2.5);
      opacity: 0;
  }
  div.product-listings .product:hover div.add-to-cart{
      opacity: 1;
  }
  div.product-listings .product:hover div.add-to-cart i{
    transform: scale(1);
    opacity: 1;
  }
  h3.prd-details{
      color: #fff !important;
      display: inline-block;
      background: #047176;
      padding: 2px 15px 2px 15px !important;
      position: absolute;
      left: 5px;
      top: 5px;
      font-weight: 300;
      font-size: 14px !important;
      text-transform: uppercase;
  }
  h3.prd-details a{
    color: #fff !important;
    text-decoration: none;
  }

  div.top-bar {
    height: 46px;
    background: #f4f4f4;
    line-height: 46px;
    border-bottom: 1px #ededed solid;
    padding: 0 10px;
  }
  ul.user-menu {
    float: right;
    list-style: none;
  }
  ul.user-menu li {
    float: left;
  }
  ul.user-menu li a {
    display: inline-block;
    padding: 0 10px;
    color: #727272;
    text-decoration: none;
    border-left: 1px #ededed solid;
  }
  ul.user-menu li a:first-child {
    border-left: none !important;
  }
  ul.user-menu li a:hover {
    color: #369599;
  }
  div.logo {
    float: left;
  }
  div.logo-area {
    padding: 16px 0;
    background: #fff;
    position: relative;
  }
  div.logo-area:after {
    content: "";
    clear: both;
    display: table;
  }
  div.search {
    float: left;
    margin: 0 0 0 20%;
    width: 400px;
    position: relative;
  }
  div.search input[type="text"] {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px #d9d9d9 solid;
    height: 40px;
    padding: 24px !important;
    color: #333;
    width: calc(100% - 30px);
    outline: none !important;
  }
  div.search i {
    color: #ccc;
    padding-left: 10px;
    font-size: 26px;
    position: absolute;
    right: 30px;
    top: 25%;
  }
  div.my-cart {
    float: right;
    margin-top: 20px;
    position: relative;
  }
  div.my-cart i {
    font-size: 26px;
    color: rgb(114, 114, 114);
  }
  span.cart-count {
    position: absolute;
    border-radius: 50%;
    width: 22px;
    height: 20px;
    background: #369599;
    color: #fff;
    text-align: center;
    font-size: 13px;
    right: 24px;
    top: -10px;
  }
  div.main-nav {
    display: block;
    clear: both;
    overflow: hidden;
    height: 52px;
    background: #369599;
    margin-bottom: 25px;
  }
  div.main-nav ul {
    list-style: none;
  }
  div.main-nav ul li {
    float: left;
  }
  div.main-nav ul li a {
    display: block;
    height: 52px;
    line-height: 52px;
    color: #fff;
    font-weight: 600;
    padding: 0 20px;
    text-decoration: none;
  }
  div.main-nav ul li a:hover {
    color: #333;
  }
  div.mini-cart {
    position: absolute;
    width: 250px;
    height: 300px;
    background: rgb(235, 235, 235);
    border: 1px #999 solid;
    right: -60px;
    top: 50px;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.37);
  }
  div.mini-cart ul {
    list-style: none;
    width: 250px;
    height: 300px;
    overflow-y: auto;
  }
  div.mini-cart ul li {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0 0 12px 0;
    padding: 5px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 300;
    border-bottom: 1px #fff solid;
    position: relative
  }
  div.mini-cart ul li h3 {
    font-weight: 300;
  }
  div.mini-cart ul li span {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px #ccc solid;
    display: block;
    background-size: cover !important;
    margin: 0 10px 0 0;
  }
  div.mini-cart div.arrow-up {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(235, 235, 235);
    position: absolute;
    left: 50%;
    transform: translateX(-20px);
    top: -20px;
  }
  i.remove-product{
      position: absolute;
      right: 10px;
      color: rgb(167, 0, 0) !important;
      top: 50%;
      font-size: 14px !important;
      cursor: pointer;
  }
